img#fotoMia{
     display: block;
     margin-left: auto;
     margin-right: auto;
     height: 75px;
     width: 75px; 
     border: 1px solid #ddd;
     border-radius: 4px;
     padding: 5px;
}
h1{
     text-transform: uppercase;
     background-color:silver;
     text-align: center;
     letter-spacing: 5px;
     color: teal;
     margin-bottom: 100px;
}
h2.tituloSec{
     text-transform: uppercase;
     background-color: silver;color: teal;
     letter-spacing: 5px;
}
em{
     font-weight: bolder;
}
span{
     font-weight: bolder;
}
ul.noDot{
     list-style-position: outside;
     list-style-type: none;
     padding-left: 10px;
}
li.sinLi{
     padding-left: 80px;
}
footer{
     font-size: 15px;
     margin-top: 70px;
     text-transform: uppercase;
     background-color: rgb(8, 106, 136);
     color: white;
     text-align: center;
}
footer p img{
     margin: 4px 2px 0 7px;
     height: 12px;
}