body{
     margin: 0;
     font-family:'Roboto', Times, serif;
}
@font-face {
     font-family: roboto;
     src: url(../fonts/Roboto-Light.ttf);
}
#barraDescuento{
     align-items: center;
     background-color: #D1891C;
     display: flex;
     font-size: 13px;;
     font-weight: bold;
     height: 25px;
     justify-content: flex-start;
     padding-left: 5px;
}
#barraTitulo{
     align-items: center;
     background-color: #00669F;
     display: flex;
     height: 70px;
     justify-content: flex-start;
     margin-bottom: 50px;
     margin-top: 0;
     padding-left: 12px;
     color: white;
}
.sombreado {
	box-shadow: 0 5px 8px 0 gray;
}
section{ 
     position: relative;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     margin-bottom: 20vh;
}
article{
     align-items: center;
     background-color: whitesmoke;
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     height: auto;
     justify-content: flex-start;
     margin: 20px 20px 50px 20px;
     position: relative;
     border-radius: 15px 15px 0 0;
     width: 300px;
}
section article img{
     box-sizing: border-box;
     display: flex;
     border-radius: 15px 15px 0 0;
}
.cover{
     width: 100%;
     height: auto;
}
.perfil{
     border-radius: 50%;
     position: absolute;
     top: 110px;
     width: 135px;
     height: auto;
}
.corazoncito{
     position: absolute;
     top: 15px;
     left: 15px;
     width: 25px;
}
section article h2 {
     margin: 80px 0 0 0;
}
section article p {
     font-size: 14px;
     font-weight: bolder;
     padding: 0 15px;;
}
section article button{
     background-color: #00669F;
     color: white;
     font-size: 10px;
     margin: 20px 0;
     padding: 10px 30px;
     border-radius: 3px;
}
#circulo{
     background-color: #00669F;
     position: fixed;
     bottom: 80px;
     right: 5px;
     height: 80px;
     width: 80px;
     border-radius: 50%;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 55px;
     font-weight: bold;
}
footer{
     align-items: center;
     background-color: #00669F;
     color: white;
     display: flex;
     font-size: 12px;
     justify-content: center;
     margin-top: auto;
     height: 60px;
}
#logoGit{
     display: flex;
     position: absolute;
     right: 20px;
}
#logoGit img{
     height: 25px;
}